.chatDiv{
  width:400px;  
  height:500px;
}
.chatList{
  height:60%;
}
.chatList span{
  padding:7px; 
  margin:5px;
}

.leftMsg{
  float:left;
  background:#c3dafe;
  clear: both;
  border-radius: 0.1rem 1rem 1rem;
}

.rightMsg{
  float:right;
   background:#feb2b2;
   clear: both;
   border-radius: 1rem 1rem 0.1rem;
}

.continueMsg{
  width: 100px;
  display: block;
  background:#e3e5e7;
  clear: both;
  padding: 4px 4px;
  border-radius: 0.25rem;
  margin: 0 auto;
} 
.continueMsg:hover{
   background:#718096;
} 
